@import url(https://fonts.googleapis.com/css?family=Lato:,500,700);

clock {
  color: white;
  text-align: center;
  font: 180px Lato, sans-serif;
  position: relative;
  top: 10vw;
}


/* Photo by: https://unsplash.com/aleskrivec */
body {
  /*background-image: url(paris_c.jpg);*/
  background-image: url(https://source.unsplash.com/category/technology);
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#000f11;
}

@media only screen and (max-width: 767px) {
  
  clock {
    font: 130px  Lato, sans-serif;
	top: 20vw;
  }
  
  body {
    background-image: url(paris_m_c.jpg);
  }
}
